$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;
$primarycolor1: #ffffff;
$primarycolor2: #000000;
$primarycolor3: #273f87;
$primarycolor4: #5d111d;
$secondarycolor1: #f5d23f;
$secondarycolor2: #e1e1e1;
$secondarycolor3: #1b2c5e;
